@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Parisienne&display=swap');

/* * {
    margin: 0;
    padding: 0;
}

body {

    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
} */
/* body {
    overflow: hidden;
} */
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* Pastikan body memiliki tinggi penuh */
    width: 100vw;
    /* Pastikan body memiliki lebar penuh */
}

.container {
    height: 100vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    /* Pastikan tidak ada scroll di .container */
    /* background-image: url('mei.png'); */
    /* background-color: bisque; */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /*  */
}

.card {
    background-image: url('/fixback.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Menambahkan properti position: relative; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* display: flex; */
    /* Menggunakan Flexbox */
    /* flex-direction: column; */
    /* Menetapkan flex direction ke column */
    /* min-height: 100vh; */
    /* Menjadikan tinggi minimal setara dengan tinggi viewport */
    /* background-color: #F9F7F2; */
    /* Memposisikan konten secara horizontal ke tengah */
    /* Menambahkan height: 100%; */
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
    /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
}

.card::before {
    top: 0;
    right: 0;
    background-image: url('/12345.png');
    z-index: 0;
    background-position: top right;
    animation: fadeIn 5s ease;
    animation-delay: 0.5s;
    /* Ganti dengan URL gambar untuk sisi top-right */
    /* Mengatur posisi gambar latar belakang di tepi atas kanan card */
}

.card::after {
    bottom: 0;
    left: 0;
    background-image: url('/kirifix.png');
    z-index: 0;
    background-position: bottom left;
    animation: fadeIn 5s ease;
    animation-delay: 0.5s;
    /* Mengatur posisi gambar latar belakang di tepi bawah kiri card */
    /* Ganti dengan URL gambar untuk sisi bottom-left */
}

.card-body {
    font-size: 0;
    padding: 1.25rem;
    z-index: 1;
    text-align: center;

}

.weeding-day {
    font-size: 1rem;
    margin: 0 0 0.75rem;
    color: #faf5f2;
    animation: slideInFromTop 5s ease forwards;
    animation-delay: 0.5s;
    /* Panggil animasi */
    /* Tunda mulai animasi */
}

.ratih-adi {
    font-size: 2.5rem;
    margin: 0 0 0.75rem;
    color: #faf5f2;
    animation: slideInFromTop 5s ease forwards;
    /* Panggil animasi */
    animation-delay: 0.5s;
    font-family: Parisienne, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    /* Tunda mulai animasi */
}

.kepada-yth {
    font-size: 13px;
    /* margin: 0 0 0.75rem; */
    color: #faf5f2;
    animation: slideInFromTop 5s ease forwards;
    /* Panggil animasi */
    animation-delay: 0.5s;
    margin-top: 30px;

    /* Tunda mulai animasi */
}

.wijdan {
    margin-top: 10px;
    font-size: 0.7rem;
    /* margin: 0 0 0.75rem; */
    color: #faf5f2;
    animation: slideInFromTop 5s ease forwards;
    /* Panggil animasi */
    animation-delay: 0.5s;
    /* margin-top: 40px; */
    /* Tunda mulai animasi */
}

.calonpengantin {
    font-size: 0.7rem;
    /* margin: 0 0 0.75rem; */
    /* color: #FFFDF7; */
    background-color: #ddbdae;
    /* Ganti dengan warna latar belakang yang Anda inginkan */
    border-radius: 10px;
    /* Sesuaikan nilai radius sesuai keinginan Anda */
    padding: 10px;
    /* Opsional: Tambahkan padding untuk memberi ruang di sekitar teks */
    /* max-width: 300px; */
    /* margin: 0 auto 0.75rem auto; */
    margin-top: 20px;
    animation: slideUp 5s ease forwards;
    animation-delay: 0.5s;
}

.date {
    font-size: 13px;
    margin: 0 0 0.75rem;
    color: #faf5f2;
    /* margin-top: 10px */
    margin-bottom: 40px;
    animation: fadeIn 5s ease;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* Mulai dari opacity 0 */
    }

    to {
        opacity: 1;
        /* Akhiri pada opacity 1 */
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-50px);
        /* Mulai dari luar layar atas */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Akhiri di posisi normal */
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeftAndFadeOut {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    50% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}