@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Parisienne&display=swap');

.container {

    margin: 0 auto;
    max-width: 630px;
    min-height: 100vh;
}

.card {
    background-color: #F9F7F2;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(to bottom, #F9F7F2 0%, #FFFDF7 25%, #F8F9F2 100%);
    animation: updown 3s linear infinite;
}

.card-lokasi {
    background-color: #F8F9F2;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.card-lokasi-body {
    font-size: 0;
    z-index: 1;

}

.card-pesan {
    background-color: #F8F9F2;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.card-pesan-body {
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.comment {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.nama {
    font-weight: bold;
    color: #333;
    font-size: 1rem;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.comment .konfirmasi {
    margin-top: 5px;
    color: #666;
    font-size: 1rem;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.comment .pesan {
    margin-top: 10px;
    color: #444;
    font-size: 1rem;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}


.ijab {
    font-size: 2rem;
    margin: 0 0 0.75rem;
    color: #be6464;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.sub-ijab {
    font-size: 1rem;
    margin: 0 0 0.75rem;
    color: #be6464;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.top img {
    width: 100%;
}

.bottom img {
    width: 100%;
}

.card-body {
    font-size: 0;
    padding: 1.25rem;
    z-index: 1;
}

.card-title {
    font-size: 1rem;
    margin: 0 0 0.75rem;
    color: #4F1E08;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.judul {

    font-size: 1rem;
    margin: 0 0 0.75rem;
    color: #4F1E08;
    font-weight: bold;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.sub-judul {
    font-size: 1rem;
    margin: 0 0 0.75rem;
    color: #4F1E08;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.pembatas {
    border-top: 3px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nama-pengantin {
    font-size: 2rem;
    font-family: Parisienne, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.date {
    font-size: 1rem;
    margin: 0 0 0.75rem;
    color: #4F1E08;
    margin-top: 10px;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.card-subtitle {
    font-size: 2rem;
    margin: 0 0 0.75rem;
    color: #4F1E08;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.calonpengantin {
    font-size: 0.9rem;
    color: #FFFDF7;
    background-color: #3D2C00;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto 0.75rem auto;
    animation: calonpengantin 2s infinite;
}

.kirimke {
    font-size: 0.9rem;
    font-weight: bold;
    color: #FFFDF7;
    margin-top: 20px;
    animation: calonpengantin 2s infinite;
}

@keyframes calonpengantin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.img img {
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}

@keyframes updown {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

.img1 img {
    max-width: 100%;
    max-height: 320px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.time-section {
    display: inline-block;
    margin-left: 4px;
}

.time-section:first-child {
    margin-left: 0;
}

.time-section>.value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #4F1E08;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    line-height: 100px;
    text-align: center;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.time-label {
    font-size: 0.8rem;
    padding-top: 4px;
    text-align: center;
    color: #4F1E08;
    font-family: Paprika, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

/*  */